#admin-portal {
    background-color: #FAFAFA;
    a {
        color: black ;
        text-decoration: none ;
      }


    #sidebar {
        width: 240px;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1026;
        overflow: hidden;

    #close-sidebar-btn {
        position: absolute;
        top: 10px;
        right: 0px;
        color: #bababa;

        &:active {
            border: none;
        }

        i {
            font-size: 30px !important;
        }
    }

        #sidebar-background{
            width: 240px;
            position: fixed;
            top: 0;
            bottom: 0;
            background-color: #F4F6FA;
            z-index: -1;
        }

        .sidebar-content {
            max-height: 100vh;
            overflow-y: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .sidebar-nav {
            list-style: none;
            padding: 30px 20px;
            margin-bottom: 0;

            .sidebar-item {
                margin-bottom: 10px;
                text-decoration: none;
                color: #000000;

                img {
                    width: 34px;
                    padding-right: 10px;
                }

                &.active {
                    background-color: $primary;

                    .sidebar-link {
                        color: #ffffff;
                    }
                }

                &:hover {
                    background-color: $sidebar-hover-bg;

                    .sidebar-link {
                        color: #ffffff;
                    }
                }
            }

            .sidebar-link {
                display: flex;
                justify-content: left;
                align-items: center;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 5px;
                font-size: 16px;
                text-align: center;
                outline: none;
                text-decoration: none;

                .pc-micon {
                    margin-right: 4px;
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    vertical-align: middle;


                    i{
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1025;
        transition: opacity 0.3s ease;
        opacity: 1;

        &.d-none {
            display: none;
            opacity: 0;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }


    .main {
        position: relative;
        min-height: 100vh;
        margin-left: 240px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #top-bar {
        margin-bottom: 5px;
        .dropdown-menu{
            .dropdown-item {
                &.active {
                    background-color: $primary !important;
                    color: #ffffff !important;

                }

                &:hover{
                    background-color: $sidebar-hover-bg !important;
                    color: #ffffff !important;

                }
            }
        }
    }


    @include media-breakpoint-down(lg) {
        body {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            background: rgba(0, 0, 0, 0.15);
        }

        #sidebar {
            margin-left: -100vw;
            width: 300px;

            &.show{
                margin-left: 0 !important;
            }

            #sidebar-background {
                width: 300px;
            }

        }

        .main {
            margin: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
// Submit Modal
    #add-course-modal{
        #add-course-modal-content{
            margin-bottom: 200px;
        }
    }

    #edit-course-modal-content{
        margin-bottom: 200px;
    }

    #add-class-modal{
        #add-class-modal-content{
            margin-bottom: 120px;
        }
    }

    .search-input-group {
        display: flex;
        flex-direction: row;
        position: relative;

        .search-input-icon {
            position: absolute;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            color: #747474;
        }

        .search-input {
            padding-left: 20px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #ffffff;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 2px RGBA(0, 0, 0, 0.25);
            background-color: #F4F6FA;

            &::placeholder,
            &::-ms-input-placeholder {
                color: #747474;
                opacity: 1;
            }
        }
    }



    .status-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .status-updated-icon {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &.selected {
            color: #fff !important;
        }
    }

    .status-updated-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .border-present {
        border: 3px solid #32CD32;
        color: #32CD32;
    }

    .border-absence {
        border: 3px solid #EE0000;
        color: #EE0000;
    }

    .border-medical {
        border: 3px solid #2222FF;
        color: #2222FF;
    }

    .border-late {
        border: 3px solid #007777;
        color: #007777;
    }

    .border-leave-approval{
        border: 3px solid #000000;
        color: #000000;
    }

    #icon{
        margin-bottom: -10px;
    }

    #icon-class{
        font-size: 34px;
        color: #0b710b;
    }

    #icon-student-check{
        font-size: 34px;
        color: #45f645;
    }

    #icon-student-xmark{
        font-size: 34px;
        color: #FFC354;
    }

    #today-attendance-statistics-content{
        max-height: 358px;
    }

    #today-attendance-statistics{
        max-height: 438px;
        margin-top: -50px;
    }

    @include media-breakpoint-up(xl) {

        #today-attendance-statistics-content{
            max-height: 358px;
        }

        #today-attendance-statistics{
            max-height: 438px;
            margin-top: -50px;
        }

    }


    @include media-breakpoint-down(xl) {

        #today-attendance-statistics{
            max-height: 390px;
            margin-top: 0px;
        }
    }


    @include media-breakpoint-down(md) {

        #today-attendance-statistics-content{
            max-height: 408px;
        }

        #today-attendance-statistics{
            max-height: 358px;
            margin-top: -10px;
        }
    }

    @include media-breakpoint-down(sm) {

        #today-attendance-statistics-content{
            height: auto;
        }

        #today-attendance-statistics{
            height: auto;
            margin-top: 0px;
        }

    }

}
