#admin-portal {
    background-color: #FAFAFA;
    a {
        color: black ;
        text-decoration: none ;
      }


    #sidebar {
        width: 240px;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1026;
        overflow: hidden;

    #close-sidebar-btn {
        position: absolute;
        top: 10px;
        right: 0px;
        color: #bababa;

        &:active {
            border: none;
        }

        i {
            font-size: 30px !important;
        }
    }

        #sidebar-background{
            width: 240px;
            position: fixed;
            top: 0;
            bottom: 0;
            background-color: #F4F6FA;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            z-index: -1;
        }

        .sidebar-content {
            max-height: 100vh;
            overflow-y: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .sidebar-nav {
            list-style: none;
            padding: 30px 20px;
            margin-bottom: 0;

            .sidebar-top {
                text-decoration: none;
                color: #000000;
                img {
                    width: 37px;
                    padding-right: 10px;
                }
            }

            .sidebar-item {
                margin-bottom: 10px;

                &.active {
                    background-color: $primary;

                    .sidebar-link{
                        color: #ffffff;
                    }
                }

                &:hover{
                    background-color: $sidebar-hover-bg;

                    .sidebar-link{
                        color: #ffffff;
                    }
                }
            }

            .sidebar-link {
                display: flex;
                justify-content: left;
                align-items: center;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 5px;
                font-size: 16px;
                text-align: center;
                outline: none;
                text-decoration: none;

                .pc-micon {
                    margin-right: 4px;
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    vertical-align: middle;


                    i{
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .main {
        position: relative;
        min-height: 100vh;
        margin-left: 240px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #top-bar {
        margin-bottom: 5px;
        .dropdown-menu{
            .dropdown-item {
                &.active {
                    background-color: $primary !important;
                    color: #ffffff !important;

                }

                &:hover{
                    background-color: $sidebar-hover-bg !important;
                    color: #ffffff !important;

                }
            }
        }
    }


    @include media-breakpoint-down(lg) {
        body {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            background: rgba(0, 0, 0, 0.15);
        }

        #sidebar {
            margin-left: -100vw;
            width: 300px;

            &.show{
                margin-left: 0 !important;
            }

            #sidebar-background {
                width: 300px;
            }


        }

        .main {
            margin: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
