*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#auth-layout{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    height: 100vh;
}
#Login-Bg{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}
.big-con,.card-header,.card-con{
    min-height: 69vh;
    height: 69vh;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* This will make the form-container take up the full height of the card-body */
}
#form {
    height: 100%; /* This will make the form take up the full height of the form-container */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
// .form-text {
//     position: absolute;
//     top: 0;
//     margin-top: 20px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 100%;
//     text-align: center;
// }
.bar{
    height: 30px;
}
.bar2{
    height: 0px;
}
.bar3{
    height: 25px;
}
// .center-form {
//     position: absolute;
//     top: 55%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
// }
// .form-text{
//     top: 0;
// }
// .center-form{
//     margin-top: 30px;
// }


@media (max-width: 768px) {
    .big-con {
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    
        @supports (-webkit-touch-callout: none) {
            height: -webkit-fill-available; /* Fix for mobile browsers */
        }
    }
    
    // .card-header h1 {
    //     font-size: 16px;
    //     z-index: 1;
    // }
    .con {
        border-radius: 0 !important;
    }

    .card-header {
        min-width: none;
        min-height: 0px;
        height: auto;
        padding: 25px;
        margin: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .card-header .auth-logo-container {
        width: 200px;
        z-index: 0;
        min-width: 200px;
    } 
    .card-con{
        min-width: 100%;
        
    }
    .big-con .con{
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        overflow: hidden;

        @supports (-webkit-touch-callout: none) {
            height: -webkit-fill-available; // Fix for mobile browsers
            width: -webkit-fill-available; // Fix for mobile browsers
        }
    }
    
    // .form-text,.center-form{
    //     position: relative;
    // }
    
    .bar,.bar2,.bar3{
        height: 0px;
    }

    
    
}