$body-bg: #f8fafc;
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;
$primary: #0089E5;
$secondary: #B1B1B1;
$success: #71DB38;
$info: #B5E6E6;
$warning: #ffcc7b;
$danger: #dc3545;
$dark: #161616;
$sidebar-hover-bg: #00A3FF;
