$body-bg: #f8fafc;
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;
$primary: #11a6b9;
$secondary: #6c757d;
$success: #01da5a;
$info: #B5E6E6;
$warning: #ffcc7b;
$danger: #dc3545;
$dark: #161616;
