// Variables
@import "variables";

//bootstrap
@import "~bootstrap/scss/bootstrap";

//fortawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//notifier-js
@import "~notifier-js/css/notifier.css";

//auth
@import "auth";

//admin
@import "admin";

//course
@import "admin/course";

//main
@import "main";

//datatable
@import "data-tables";

//datatable
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "~datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";

//select2
@import "~select2/dist/css/select2.min.css";

//select2 bootstrap5 theme
@import "~select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #0089E5 !important;
    --bs-btn-border-color: #0089E5 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #00A3FF !important;
    --bs-btn-hover-border-color: #00A3FF !important;
    --bs-btn-focus-shadow-rgb: 0, 137, 229 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #007AB3 !important;
    --bs-btn-active-border-color: #007AB3 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #0089E5 !important;
    --bs-btn-disabled-border-color: #0089E5 !important;
}

  .btn-warning {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #FFC354 !important;
    --bs-btn-border-color: #FFC354 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: rgb(255, 179, 71) !important;
    --bs-btn-hover-border-color: rgb(255, 169, 60) !important;
    --bs-btn-focus-shadow-rgb: 255, 179, 71 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: rgb(255, 169, 60) !important;
    --bs-btn-active-border-color: rgb(255, 159, 50) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #FFC354 !important;
    --bs-btn-disabled-border-color: #FFC354 !important;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

//start datatable
.dt-container {
    .dt-length {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
        .dt-info {
            text-align: right;
        }

        .dt-paging {
            float: right;
        }
    }
}
//end datatable

//start notifier js
.notifier-container {
    z-index: 1082;
}
//end notifier js

.circle-img-sm-wrap {
    height: 55px;
    width: 55px;
    overflow: hidden;
    position: relative;

    img {
        height: 55px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

.circle-img-md-wrap {
    height: 65px;
    width: 65px;
    overflow: hidden;
    position: relative;

    img {
        height: 65px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 65px;
    }
}

@include media-breakpoint-down(sm) {
    .circle-img-sm-wrap {
        height: 45px;
        width: 45px;
        img {
            width: 45px;
        }
    }

    .circle-img-md-wrap {
        height: 55px;
        width: 55px;
        img {
            width: 55px;
            height: 55px;
        }
    }
}

.card{
    background-color: #F4F6FA;
    border-radius: 10px !important;
}

.card-shadow{
    box-shadow: 0px 4px 2px RGBA(0, 0, 0, 0.25) !important;
}

.card-hover:hover{
    background-color: #CBD3E1 !important;
    cursor: pointer !important;
}
.text-muted {
    font-size: 14px;
 }

.btn{
    border-radius: 10px !important;
}


.more-loader-pulse-container {
    display: flex;

    .more-loader-pulse-bubble {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primary;
    }

    .more-loader-pulse-bubble-1 {
        animation: moreLoaderPluse 0.4s ease 0s infinite alternate;
    }

    .more-loader-pulse-bubble-2 {
        animation: moreLoaderPluse 0.4s ease 0.2s infinite alternate;
    }

    .more-loader-pulse-bubble-3 {
        animation: moreLoaderPluse 0.4s ease 0.4s infinite alternate;
    }
}

@keyframes moreLoaderPluse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0.25;
        transform: scale(0.75);
    }
}


//start select2
.select2-container--bootstrap-5 .select2-selection--single{
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.select2-container--bootstrap-5.select2-container--open .select2-selection,
.select2-container--bootstrap-5.select2-container--focus .select2-selection{
    border-color: #bed0ff;
    box-shadow: 0 0 0 0.25rem rgba(124, 160, 255, 0.25);
}

.select2-container--bootstrap-5 .select2-selection--single,
.select2-container--bootstrap-5 .select2-results__option,
.select2-container--bootstrap-5 .select2-search,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field ,
.select2-container--bootstrap-5 .select2-results__option--highlighted{
    background-color: var(--bs-body-bg);
}
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
    background-color: var(--bs-body-bg);
    border-color: #bed0ff ;
    box-shadow: 0 0 0 0.25rem rgba(124, 160, 255, 0.25);
}

.select2-selection__rendered {
    padding-left: 0px !important;
}
//end select2

//start notifier
.notifier{
    padding: 15px !important;
    border-radius: 15px;

    .notifier-title{
        margin-bottom: 0px !important;
        color: #373737 !important;
        font-weight: 500 !important;
    }
}
//end notifier


.profile-tabs {
    border-bottom: 0;
    .nav-item {
        margin-bottom: -0px;

        .nav-link {
            position: relative;
            padding: 1rem 0;
            margin: 0 1.5rem 0 0;
            font-weight: 500;
            color: #000000;
            display: inline-flex;
            align-items: center;
            @include media-breakpoint-down(sm) {
                padding: 0.8rem 0;
            }
            i {
                font-size: 18px;
            }
            .material-icons-two-tone {
                font-size: 20px;
            }
            &:after {
                content: "";
                background: #0d6efd;
                position: absolute;
                transition: all 0.3s ease-in-out;
                left: 50%;
                right: 50%;
                bottom: -1px;
                height: 2px;
                border-radius: 2px 2px 0 0;
            }
        }
    }

    .nav-link:hover {
        border-color: transparent;
        background: transparent;
        color: var(--bs-primary);
        .material-icons-two-tone {
            background-color: var(--bs-primary);
        }
    }

    .nav-item.show .nav-link,
    .nav-link.active {
        border-color: transparent;
        color: #0d6efd;
        background: transparent;
        .material-icons-two-tone {
            background-color: var(--bs-primary);
        }
        &:after {
            left: 0;
            right: 0;
        }
    }
}

// header title
.header-title{
    margin-bottom: -7px;
    @include media-breakpoint-down(md) {
        margin-bottom: 0px;
    }
}

// search
.filter-popup-wraper {
    width: 100%;
    height: 100%;
    z-index: 1027;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;

    .filter-popup-content {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        background-color: #ffffff;
        position: relative;
        border-radius: 0.375rem;
        z-index: 101;


        .filter-popup-close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .filter-popup-body {
            height: calc(100% - 150px);
            padding: 1rem;
            padding-bottom: 100px !important;

            overflow-y: scroll;
            -ms-overflow-style: none; //IE & Edge
            scrollbar-width: none; //Firefox

            &::-webkit-scrollbar {
                display: none; //chrome, safari, opera
            }
        }

        .filter-popup-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    }
}


@include media-breakpoint-down(lg) {
    .filter-popup-wraper {
        padding-top: 0;
        padding-bottom: 0;

        .filter-popup-content {
            width: 100vw;
            margin-left: 0;
            border-radius: 0;

            .filter-popup-body {
                height: calc(100vh - 100px);
                padding: 1rem;

                overflow-y: scroll;
                -ms-overflow-style: none; //IE & Edge
                scrollbar-width: none; //Firefox

                &::-webkit-scrollbar {
                    display: none; //chrome, safari, opera
                }
            }
        }
    }
}
