#main-portal {
    font-family: $font-family-sans-serif !important;
    background-color: white;

    #sidebar {
        width: 300px;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1026;
        overflow: hidden;

    #close-sidebar-btn {
        position: absolute;
        top: 10px;
        padding: 20px 0;
        right: 0px;
        color: #bababa;

        &:active {
            border: none;
        }

        i {
            font-size: 30px !important;
        }
    }

        #sidebar-background{
            width: 290px;
            position: fixed;
            top: 0;
            bottom: 0;
            background-color: #ffffff;
            z-index: -1;
        }

        .sidebar-content {
            max-height: 100vh;
            overflow-y: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .sidebar-nav {
            list-style: none;
            padding-left: 0;
            padding-right: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 0;

            .sidebar-item {
                margin-bottom: 10px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding-right: 10px;

                &.active,
                &:hover {
                    background-color: rgb(158, 216, 218);

                    .sidebar-link{
                        color: #ffffff;
                    }
                }
            }

            .sidebar-link {
                display: block;
                padding: 5px 0px;
                color: #747474;
                font-size: 16px;
                text-align: center;
                align-items: center;
                outline: none;
                text-decoration: none;

                i{
                    font-size: 23px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .main {
        position: relative;
        min-height: 100vh;
        margin-left: 170px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #top-bar {
        margin-bottom: 20px;
    }

    @include media-breakpoint-down(lg) {
        #sidebar {
            margin-left: -100vw;
            width: 100vw;

            &.show{
                margin-left: 0 !important;
            }

            #sidebar-background {
                width: 100vw;
            }

        }

        .main {
            margin: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
